@using HeatPumpController.Web.Services
@inject IViewModel ViewModel
@implements IDisposable

<h3>@AutomationState mode</h3>
<p>@ProcessState</p>

<div class="row">
    <div class="col">
        <p>
            <button @onclick="ModeChangeButtonClick">@ModeChangeButtonText</button>
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>
            <button @onclick="CloseAllButtonClick" disabled="@ViewModel.Automation">Close All</button>
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>
            <button @onclick="OpenAllButtonClick" disabled="@ViewModel.Automation">Open All</button>
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Controll heating</h4>
        <RelayButton ParameterName="@nameof(ViewModel.HeatPumpRelay)"/>
        <RelayButton ParameterName="@nameof(ViewModel.UpperValveRelay)"/>
        <RelayButton ParameterName="@nameof(ViewModel.LowerValveRelay)"/>
        <RelayButton ParameterName="@nameof(ViewModel.ExtraHeatingRelay)"/>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Controll valves</h4>
        <RelayButton ParameterName="@nameof(ViewModel.HeatingCircuitBathRoomWallRelay)"/>
        <RelayButton ParameterName="@nameof(ViewModel.HeatingCircuitBathRoomRelay)"/>
        <RelayButton ParameterName="@nameof(ViewModel.HeatingCircuitKitchenRelay)"/>
        <RelayButton ParameterName="@nameof(ViewModel.HeatingCircuitLivingRoomRelay)"/>
        <RelayButton ParameterName="@nameof(ViewModel.HeatingCircuitBedRoomRelay)"/>
        <RelayButton ParameterName="@nameof(ViewModel.HeatingCircuitSmallRoomRelay)"/>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        ViewModel.DataChanged += DataChangedHandler;
        base.OnInitialized();
    }

    private string AutomationState => ViewModel.Automation ? "Auto" : "Man";
    private string ModeChangeButtonText => ViewModel.Automation ? "Turn to Manual mode" : "Turn to Automate mode";

    private string ProcessState => ViewModel.ProcessState.ToString();
    
    private void ModeChangeButtonClick()
    {
        ViewModel.Automation = !ViewModel.Automation;
    }

    private void DataChangedHandler() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        ViewModel.DataChanged -= DataChangedHandler;

    }

    private Task CloseAllButtonClick() => ViewModel.SetAllRelays(true);

    private Task OpenAllButtonClick() => ViewModel.SetAllRelays(false);

}